asgiref==3.8.1
certifi==2025.4.26
charset-normalizer==3.4.2
crispy-bootstrap3==2024.1
Django==5.2.1
django-bootstrap-form==3.4
django-crispy-forms==2.4
django-url-tools-py3==0.2.1
idna==3.10
psycopg[binary]==3.2.9
requests==2.32.3
setuptools==80.9.0
sqlparse==0.5.3
tornado==6.5.1
urllib3==2.4.0
